*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

body {
    box-sizing: border-box; 
}

.container{
    display:block;
    background-color: darkgray;
    height: 95vh;
    width: 100vw;
    
    &_navigation{
        background-color: darkgreen;
        display:flex;
        flex-direction: row;   
        justify-content: space-evenly;
 
    }


    &_graph{
        background-color: darkolivegreen;
        display:block;

        &_bars{
            margin-bottom: 0;       
            display: flex;
             justify-content: center;

        }
    }
}

.bar {
    display: inline-block;
    background-color: blue;
    margin-left: 1px; 
    margin-bottom: 0;
    min-width: 2px
  }


  .nav_button {
    color: white;
      font-size: 16px;
      font-family: monospace;
      /* display: inline-block; */
      /* margin-left: 15px; */
      /* margin-right: 15px; */
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin: 30px;
  }

.navigation_range{
    margin: 30px;
}









